{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
User Index
{% endblock %}

{% block lead %}
Add username to Find Rookies.<br>
If you want to delete your id, click 'Delete User'.
{% endblock %}

{% block main_body %}
<form method="POST" action="/api/user/">
  <input name="username" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter user">
  <input type="submit" class="btn btn-primary" value="Add" />
</form>
<br><br>
{% if user_list %}
<table class="table">
  <thead class='table-dark'>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Go Next</th>
      <th scope="col">Delete</th>
      <th scope="col">Latest</th>
    </tr>
  </thead>
  <tbody class='table-light'>
    {% for user in user_list %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>
        <a class="btn btn-info" , href='/group/{{ user.id }}'>
          Find Rookies
        </a>
      </td>
      <td>
        <a class="btn btn-danger" , href='/api/user/{{ user.id }}/'>
          Delete User
        </a>
      </td>
      <td>
        <a class="btn btn-secondary" , href='/recommend/latest/{{ user.id }}/'>
          Latest Result
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}